.jumToContainer
  position: relative
  cursor: pointer

  button
    background-color: transparent
    padding: 0
    margin: 0
    vertical-align center
    border: unset

    &:hover
      background-color: transparent

  .optionsCaret
    position: absolute
    //visibility hidden
    width: 9px
    margin: 0
    bottom: -6px
    right: 4px
    color: #337ab7

  .menu
    position: absolute
    list-style-type: none
    margin: 5px 0
    padding: 0
    border: 2px solid #337ab7
    width: 170px
    background-color: var(--ui-gray)
    text-align: left
    z-index: 1000

    li
      margin: 1px 0 1px 10px
      padding: 5px
      background-color: rgba(0, 0, 0, 0.5)

      &:hover
        background-color: #337ab7

