@import "../peppermint-table.styl"

.mask-export-list-dialog
  color: var(--text-primary-color)
  z-index: 1000

  width: 100%
  max-height: 100%
  margin: auto

  padding-right: 10px
  padding-left: 10px
  padding-top: 5px
  padding-bottom: 10px
  border-radius: 8px
  text-align: center

  hr
    border: none;
    height: 1px;
    background-color: var(--ui-border-color)

  h5, label
    font-weight: 400
    float: left


  .mask-export-list-header
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    justify-content: space-between

  h3
    font-weight: 400
    text-align: left

  .mask-export-list-cancel
    text-align: right
    margin-top: 16px

    svg
      color: var(--text-primary-color)
      background-color: transparent
      width: 16px
      height: 16px
      fill: var(--text-secondary-color)

  .roiCollectionBuilderTableButton
    width: 100%

  .mask-export-list-body
    max-height: 300px
    padding-right: 18px
    overflow-y: auto
    overflow-x: hidden
    display: inline-block
    scrollbar-color: var(--text-secondary-color --ui-gray-darkest)

    &::-webkit-scrollbar
      background: var(--ui-gray-darkest)
      width: 10px

    &::-webkit-scrollbar-thumb
      background: var(--text-secondary-color)
      border-radius: 10px
      border-right: var(--ui-gray-darkest)

  .mask-export-list-collection-info
    border-top: 1px solid
    border-bottom: 1px solid


  .mask-export-list-footer
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    justify-content: space-around
    align-items: center

    input
      margin: 5px
