.peppermint-table {
  width: 100%;
}

.peppermint-table tr,
.peppermint-table th,
.peppermint-table td {
  padding: 0px 5px;
  word-wrap: break-word;
}

.peppermint-table .centered-cell {
  text-align: center;
}

.peppermint-table .left-aligned-cell {
  text-align: left;
}

.peppermint-table .right-aligned-cell {
  text-align: right;
}

.mask-export-list-dialog {
  z-index: 1000;
  width: 100%;
  max-height: 100%;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
}

.mask-export-list-dialog h5,
.mask-export-list-dialog label {
  font-weight: 400;
  float: left;
}

.mask-export-list-dialog .mask-export-list-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.mask-export-list-dialog h3 {
  font-weight: 400;
  text-align: left;
}

.mask-export-list-dialog .mask-export-list-cancel {
  text-align: right;
  margin-top: 16px;
}

.mask-export-list-dialog svg {
  background-color: transparent;
  width: 32px;
  height: 32px;
  fill: #fff;
}

.mask-export-list-dialog .roiCollectionBuilderTableButton {
  width: 100%;
}

.mask-export-list-dialog .mask-export-list-body {
  max-height: 300px;
  padding-right: 18px;
  overflow-y: auto;
  overflow-x: hidden;
  display: inline-block;
}

.mask-export-list-dialog .mask-export-list-body::-webkit-scrollbar {
  width: 10px;
}

.mask-export-list-dialog .mask-export-list-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.mask-export-list-dialog .mask-export-list-collection-info {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.mask-export-list-dialog .mask-export-list-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mask-export-list-dialog .mask-export-list-footer input {
  margin: 5px;
}
